<h1>Let's GoGo</h1>


<div>
  <%= link_to category_path("Salud") do %>
    Salud
  <% end %>
  <%= link_to category_path("Educacion") do %>
    Educacion
  <% end %>
  <%= link_to category_path("Recreacion") do %>
    Recreacion
  <% end %>
  <%= link_to category_path("Religion") do %>
    Religion
  <% end %>
  <%= link_to category_path("Viaje") do %>
    Viaje
  <% end %>
</div>
