
<% if flash[:notice] %>
	<div>
		<%= flash[:notice] %>
	</div>
<% end %>

<div class="jumbotron">
	<div class="container">
		<h1>
			<% if @category == "Medical" %>
				<span class="icon-heart"></span> Medical
			<% end %>
			<% if @category == "Sports" %>
				<span class="icon-futbol-o"></span> Sports
			<% end %>
			<% if @category == "Events" %>
				<span class="icon-calendar-o"></span> Events
			<% end %>
			<% if @category == "Animals" %>
				<span class="icon-paw"></span> Animals
			<% end %>
			<% if @category == "Education" %>
				<span class="icon-book"></span> Education
			<% end %>
		</h1>

		<% if @category == "Medical" %>
			<p>
				
				Raise money for medical bills and expenses. Fundraising for medical bills and related medical expenses.
				We have raised over $3 Billion for people in need.
				#1 for Medical, Illness &amp; Healing fundraising
				Set up a Powerful Fundraiser in less than 30 Seconds.
				Get real results fast!
			</p>
		<% end %>
		<% if @category == "Sports" %>
			<p>
				
				Raise money for sports teams and clubs.
				We have raised over $3 Billion for people in need.
				#1 for Sports, Teams &amp; Clubs fundraising
				Set up a Powerful Fundraiser in less than 30 Seconds.
				Get real results fast!
			</p>
		<% end %>
		<% if @category == "Events" %>
			<p>
				
				Raise money for weddings, parties, showers, &amp; more.
				We have raised over $3 Billion for people in need.
				#1 for Celebrations &amp; Events fundraising
				Set up a Powerful Fundraiser in less than 30 Seconds.
				Get real results fast!
			</p>
		<% end %>
		<% if @category == "Animals" %>
			<p>
				
				Raise money for your favorite pets
				We have raised over $3 Billion for people in need.
				#1 for Animals &amp; Pets fundraising
				Set up a Powerful Fundraiser in less than 30 Seconds.
				Get real results fast!
			</p>
		<% end %>
		<% if @category == "Education" %>
			<p>
				
				Raise money for education supplies and expenses.
				We have raised over $3 Billion for people in need.
				#1 for Education &amp; Learning fundraising
				Set up a Powerful Fundraiser in less than 30 Seconds.
				Get real results fast!
			</p>
		<% end %>
	</div>
</div>

<table>
	<thead>
		<tr>
			<th>Titulo</th>
			<th>Reseña</th>
			<th>Categoria</th>
			<th>Meta</th>
			<th>Monto Donado</th>
			<th>Creado En</th>
			<th>Usuario Creador</th>
		</tr>
	</thead>
	<tbody>
			<%- @campaigns.each do |f| %>
				<tr>
					<td><%= link_to f.titulo, campaign_path(f) %></td>
					<td><%= f.resena %></td>
					<td><%= f.category %></td>
					<td><%= f.meta %></td>
					<td>Lps. <%= cant_recuadada(f.donations) %></td>
					<td><%= format_date(f.created_at) %></td>
					<td><%= User.find(f.user_id).name %></td>
				</tr>
			<%- end %>
	</tbody>
</table>

<div class="categories-desc">
    <div class="row">
        
		<%- @campaigns.each do |f| %>
	        <div class="col-sm-6 col-md-4">
	            <div class="thumbnail">
	            	<%= image_tag f.image, alt: "Medical" %>
	                <div class="caption">
	                    <div class="progress">
	                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=porciento_completado(f) * 100 %>%">
      							<%= number_to_percentage(porciento_completado(f) * 100, precision: 0)  %>
	                        </div>
	                    </div>
	                    <h3><%= link_to f.titulo, campaign_path(f) %></h3>
	                    <p><%= f.resena %></p>
	                    <div class="overlay"></div>
                        <%= link_to campaign_path(f), class: "btn btn-link" do %>
                            <span class="icon-plus"></span> Read More
                        <% end %>
	                    
	                </div>
	            </div>
	        </div>
		<%- end %>
	</div>
</div>















