<h1>My Dashboard</h1>

<% if flash[:notice] %>
	<div>
		<%= flash[:notice] %>
	</div>
<% end %>

<table>
	<thead>
		<tr>
			<th>Titulo</th>
			<th>Reseña</th>
			<th>Categoria</th>
			<th>Meta</th>
			<th>Monto Donado</th>
			<th>Creado En</th>
			<th>Usuario Creador</th>
		</tr>
	</thead>
	<tbody>
			<%- @campaigns.each do |f| %>
				<tr>
					<td><%= link_to f.titulo, campaign_path(f) %></td>
					<td><%= f.resena %></td>
					<td><%= f.category %></td>
					<td><%= f.meta %></td>
					<td> Lps. <%= cant_recuadada(f.donations) %></td>
					<td><%= format_date(f.created_at) %></td>
					<td><%= User.find(f.user_id).name %></td>
				</tr>
			<%- end %>
	</tbody>
</table>
