<h1>List of Campaigns</h1>

<% if flash[:notice] %>
	<div>
		<%= flash[:notice] %>
	</div>
<% end %>


<div class="categories-desc">
    <div class="row">
        
		<%- @campaigns.each do |f| %>
	        <div class="col-sm-6 col-md-4">
	            <div class="thumbnail">
	            	<%= image_tag f.image, alt: "Medical" %>
	                <div class="caption">
	                    <div class="progress">
	                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=porciento_completado(f) * 100 %>%">
      							<%= number_to_percentage(porciento_completado(f) * 100, precision: 0)  %>
	                        </div>
	                    </div>
	                    <h3><%= link_to f.titulo, campaign_path(f) %></h3>
	                    <p><%= f.resena %></p>
	                    <div class="overlay"></div>
                        <%= link_to campaign_path(f), class: "btn btn-link" do %>
                            <span class="icon-plus"></span> Read More
                        <% end %>
	                    
	                </div>
	            </div>
	        </div>
		<%- end %>
	</div>
</div>
