
<% if flash[:notice] %>
  <div style="background: yellow">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="row">
  <div class="col-md-6 jumbotron">
    <h1><%=@campaign.titulo %></h1>
    <%= image_tag @campaign.image, style: "heigth: 400px; width: 400px; padding-bottom: 10px" %>


    <div class="progress" style="width: 400px;">
      <div class="progress-bar" role="progressbar" aria-valuenow= "<%=porciento_completado(@campaign) * 100 %>"
      aria-valuemin="0" aria-valuemax="100" style="width: <%=porciento_completado(@campaign) * 100 %>%">
      <%= number_to_percentage(porciento_completado(@campaign) * 100, precision: 0)  %> Completado
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item"><%=@user.name %></li>
      <li class="list-group-item"><%=@user.ciudad %>, <%=@user.pais %></li>
      <li class="list-group-item"><%= mail_to @user.email, "Enviar correo" %></li>
    </ul>
    <br>
    <ul class="list-group">
      <li class="list-group-item">
        Description:
        <light><%= @campaign.description %></light>
      </li>
      <li class="list-group-item">
        Meta:
        <light><%= @campaign.meta %></light>
      </li>
      <li class="list-group-item">
        Category:
        <light><%= link_to @campaign.category, category_path(@campaign.category) %></light>
      </li>
      <li class="list-group-item">
        Cantidad de Likes:
        <light><%= @campaign.cant_like %></light>
      </li>
      <li class="list-group-item">
        Fecha culminacion:
        <light><%= format_date(@campaign.finalizado_en) %></light>
      </li>
      <li class="list-group-item">
        Fecha creacion:
        <light><%= format_date(@campaign.created_at)  %></light>
      </li>
    </ul>
    <% if current_user %>
      <% if current_user.id == @campaign.user_id %>
        <p style="display: inline-block"> <%= link_to "Edit", edit_campaign_path, class:"btn btn-default btn-lg" %> </p>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-6 jumbotron">
    <h1>Comentarios</h1>
    <% if @campaign.comments.any? %>

      <%- @campaign.comments.each do |f| %>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge"><%= format_date(f.created_at)%></span>
          <b><%= f.autor %></b>
          <br>
          &emsp; <%= f.mensaje %>
          <% if current_user %>
              <% if current_user == User.find_by(name: f.autor) %>
                 <%= link_to "X", campaign_comment_path(f.campaign, f), method: :delete, data: {confirm: "Estas Seguro?"}, class:"btn btn-default btn-sm pull-right" %>
              <% end %>
          <% end %>
        </li>
      </ul>
      <%- end %>
      <% else %>
        <p><em>No hay comentarios.</em></p>
      <% end %>
      <%= link_to "New Comment", new_campaign_comment_path(@campaign.id), class:"btn btn-default btn-lg" %> 
  </div>
</div>
<div class="row">
  <div class="col-md-12 jumbotron">
    <%= render partial: "campaign_donations", locals: {donations: @campaign.donations.order("created_at DESC")} %>
  </div>
</div>






















