
<h1><%=@campaign.titulo %></h1>
<% if flash[:notice] %>
  <div style="background: yellow">
    <%= flash[:notice] %>
  </div>
<% end %>

<div>
  <%= image_tag @campaign.image, style: "heigth: 400px; width: 400px; padding-bottom: 10px" %>


  <div class="progress" style="width: 400px;">
    <div class="progress-bar" role="progressbar" aria-valuenow= "<%=porciento_completado(@campaign) * 100 %>"
    aria-valuemin="0" aria-valuemax="100" style="width: <%=porciento_completado(@campaign) * 100 %>%">
      <%= number_to_percentage(porciento_completado(@campaign) * 100, precision: 0)  %> Completado
    </div>


  </div>

  <div>
    <p>
      <%=@user.name %>
    </p>
    <p>
      <%=@user.ciudad %>, <%=@user.pais %>
    </p>
    <p>
      <%= mail_to @user.email, "Enviar correo" %>
    </p>
  </div>
</div>

<ul>
	<li>
		Description:
		<light><%= @campaign.description %></light>
	</li>
  <li>
    Meta:
    <light><%= @campaign.meta %></light>
  </li>
  <li>
    Category:
    <light><%= link_to @campaign.category, category_path(@campaign.category) %></light>
  </li>
  <li>
    Cantidad de Likes:
    <light><%= @campaign.cant_like %></light>
  </li>
  <li>
    Fecha culminacion:
    <light><%= format_date(@campaign.finalizado_en) %></light>
  </li>
  <li>
    Fecha creacion:
    <light><%= format_date(@campaign.created_at)  %></light>
  </li>
</ul>

<p>
  Comentarios
</p>

<% if @campaign.comments.any? %>
<table>
	<thead>
		<tr>
			<th>Autor</th>
			<th>Mensaje</th>
			<th>Fecha Creacion</th>
      <th>

      </th>
		</tr>
	</thead>
	<tbody>
			<%- @campaign.comments.each do |f| %>
				<tr>
					<td><%= f.autor %></td>
					<td><%= f.mensaje %></td>
					<td><%= format_date(f.created_at)  %></td>
          <% if current_user %>
              <% if current_user == User.find_by(name: f.autor) %>
					       <td><%= link_to "Borrar", campaign_comment_path(f.campaign, f), method: :delete, data: {confirm: "Estas Seguro?"} %></td>
              <% end %>
          <% end %>
				</tr>
			<%- end %>
	</tbody>
</table>
<% else %>
  <p><em>No hay comentarios.</em></p>
<% end %>

<%= render partial: "campaign_donations", locals: {donations: @campaign.donations.order("created_at DESC")} %>

<p style="display: inline-block"> <%= link_to "New Donation", new_campaign_donation_path(@campaign.id), class:"btn btn-default btn-lg" %> </p>

<p style="display: inline-block"> <%= link_to "New Comment", new_campaign_comment_path(@campaign.id), class:"btn btn-default btn-lg" %> </p>

<% if current_user %>
  <% if current_user.id == @campaign.user_id %>
    <p style="display: inline-block"> <%= link_to "Edit", edit_campaign_path, class:"btn btn-default btn-lg" %> </p>
  <% end %>
<% end %>
